<%- include ('../views/parciais/header.ejs'); %>

  <body>
    <section class="box">
      <div class="angry-grid">
        <div id="item-0">
             <%- include ('../views/parciais/nav.ejs'); %>
             <h1>Perguntas e Respostas seja bem vindo</h1>
             
        </div>
      </div>
  </section>
   

  </body>

  </html>