<%- include ('../views/parciais/header.ejs'); %>

  <body>
    <section class="box">
      <div class="angry-grid">
        <div id="item-0">
             <%- include ('../views/parciais/nav.ejs'); %>
             <div class="titulo">
             <h1>AppWeb em nodejs Perguntas e Respostas</h1>           
             <img src="./img/inicio.png" alt="">
             <H1> Seja bem vindo</h1>
             </div>
        </div>
      </div>
  </section>
   

  </body>

  </html>