<%- include ('../views/parciais/header.ejs'); %>

  <body>
    <section class="boxper">
    <div class="angry-grid">
      <div id="item-0">
           <%- include ('../views/parciais/nav.ejs'); %>
           <%- include ('../views/parciais/form.ejs'); %>
      </div>
    </div>  
    
    </section>

  </body>

  </html>