<%- include ('../views/parciais/header.ejs'); %>
<body>
      
    <section class="box">
        <div class="angry-grid">
          <div id="item-0">
               <%- include ('../views/parciais/nav.ejs'); %>
              <div class="sobre">
               <center>  <p><br><h2>Sobre aplicativo perguntas e respostas</h2></p>
                <li>Aplicativo NODE.JS "Javascript , CSS e HTML"</li>
                <li>Desenvolvedor Erasmo Cardoso</li> </center>
               </div>
          </div>
        </div>
    </section>
    
</body>
</html>