
<form class="formulario" method="POST" action="#">
    <h3>Realizar Pergunta</h3>
    <input type="text" name="titulo" class="campo" placeholder="Nome" required="" />
    <textarea name="descricao" class="campo" placeholder="Detalhes" required=""></textarea>
    <button type="submit" class="botao"> Enviar </button>
</form>