<nav class="bg line">

    <a href="./" title="Inicio">Inicio</a>
    <a href="./perguntar" title="Perguntas">Fazer Perguntas</a>
    <a href="./verpergunta" title="Respostas">Ver Perguntas</a>
    <a href="./sobre" title="Sobre">Sobre</a>

</nav>